.form-input{
    font-size: 18px;
}

@media (min-width: 576px) { 
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
      }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
      }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
      }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .container {
        max-width: 1300px;
      }
 }